<%- include('header'); -%>
        <div id="form">
           <form  action="/" method="post">
            <input type="text" required placeholder="input author's name" id="input" name="input1"/>
            <button id="button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
           </form>
        </div>
    </div>
    <div id="result">
        <div class="authorName">
            <p class="title">Author's name:</p>
            <p id="author-name">  <%=name %></p>
        </div>
        <div class="authorName">
            <p class="title">Top work:</p>
            <p id="top-work"><%= top_work %></p>
        </div>

        <div class="authorName">
            <p class="title">Work count:</p>
            <p id="work-count"><%= work_count %></p>
        </div>
    </div>
    <div class="list-container">
        <p class="list-title">Top Subjects</p>
        <ul class="list">
           <% top_subjects.forEach((subject)=> { %>
                <li class="list-el"><%=subject %></li>
          <%  })  %>
        </ul>
    </div>
    <%- include('footer'); -%>